/*.combo-box .arrow, .combo-box .arrow-button{
    -fx-background-color: transparent;
}

.combo-box1 .arrow-button
{
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding:  0 1 0 0;
}

.combo-box1 .arrow-button .arrow
{
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 0 0, 0;
    -fx-padding: 0 0 0 0;
    / *
        -fx-shape: "M 0 0 h 7 l -3.5 4 z";
    * /
    -fx-shape: null;
}*/

.tab-pane:top
{
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-image: url("../img/UKMA_logo.gif");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 300px;
}
/*
.progress-indicator .percentage {
    -fx-font-size: 0.916667em;
    -fx-fill: transparent;
    visibility: hidden;
    -fx-content-display: center;
}

.customProgressIndicator .percentage {
    -fx-fill: null;
}*/

.menu-bar{
    -fx-background-color: transparent;
}
.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.menu-bar>*container>*.menu-button>*.label,
.menu-bar>*container>*.menu-button:hover,
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: transparent;
}

.menu-bar .menu-button:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.menu-bar .menu-button {
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}
